* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul {
    width: 100vw;
    height: 6vh;
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar a {
    cursor: pointer;
    display: block;
    font-size: 16pt;
    height: 6vh;
    line-height: 6vh;
    padding: 0px 10px;
}

.navbar a:hover {
    background-color: aqua;
}

.budget {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 25rem;
    width: 50rem;
    border: 3px solid black;
    padding: 1rem;
    position: relative;
    justify-content: space-evenly;
}

.budget h1, h2 {
    font-size: 3rem;
}

.controls {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    height: 25rem;
    width: 25rem;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 10px;
}

.controls  label {
    margin-right: 10px;
}

.controls input {
    width: 12rem;
    height: 2.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.controls button {
    width: 7rem;
    height: 2.5rem;
}

.categories {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    border-top: 2px solid black;
    padding: 1rem;
    margin: 1rem;
}

.category {
    position: relative;
    justify-items: center;
    text-align: center;
    width: 20rem;
    height: 15rem;
    border: 2px solid black;
}

.category h1 {
    font-size: 35pt;
}

.category p {
    position: relative;
    font-size: 40pt;
    height: 50%;
    line-height: 200%;
}

.category div {
    display: flex;
    height: 2rem;
    justify-content: center;
}

.category div * {
    height: 100%;
    box-sizing: border-box;
}

.category div button {
    border: 1px solid black;
    border-radius: 10%;
    width: 2rem;
    font-weight: bold;
    font-size: 17pt;
    cursor: pointer;
}

.create-category {
    display: flex;
    align-items: center;
}

.create-category input {
    margin-right: 5px;
}

.checkbox input {
    width: 1rem;
    height: 1rem;
    margin-right: 3px;
}

.checkbox label {
    font-size: 1.1rem;
}

.minus {
    color: rgb(228, 6, 6);
}

.plus {
    color: rgb(8, 207, 85);
}

.delete-btn {
    position: absolute;
    right: 0;
    cursor: pointer;
}